.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.carousel.dragging a {
    pointer-events: none;
}

.carousel > .carousel_container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.carousel > .carousel_container > .loading-bar {
	position: absolute;
    bottom: 0;
	left: 0;
	height: 2%;
	background-image: linear-gradient(transparent, var(--light-blue));
}

.carousel > .carousel_container > ul.carousel_track {
    position: relative;
    height: 100%;
    list-style: none;
}

.carousel > .carousel_container > ul.carousel_track > li.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
}
