@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #040084;
    --blue: #0141CF;
    --light-blue: #1874D2;
    --peach: #FECC98;
    --orange: #FD7F00;
    --dark-orange: #FD6600;
    --grey: #535461;
    --light-grey: rgb(189, 189, 189);
    --light-grey2: rgb(243, 243, 243);
    --yellow: rgb(233, 233, 34);
    --black: #000;
    --white: #fff;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

header {
    position: relative;
    background-color: var(--peach);
}

header .wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100vw;
    user-select: none;
}

header .top {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .top .logo {
    height: 100%;
    user-select: none;
}
header .top .logo img {
    height: 100%;
}

header .hero-carousel {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: clamp(250px, 35vw, 400px);
    width: clamp(250px, 80vw, 900px);
}
header .hero-carousel ul.carousel_track > li.carousel_slide > .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 100%;
}
header .hero-carousel ul.carousel_track > li.carousel_slide > .wrapper > .content-container {
    align-self: center;
}
header .hero-carousel ul.carousel_track > li.carousel_slide > .wrapper > .image-container {
    user-select: none;
}
header .hero-carousel ul.carousel_track > li.carousel_slide > .wrapper > .image-container > img {
    width: 100%;
}

header .bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

header .random-carousel {
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    max-width: 800px;
    background: var(--white);
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 2px 5px 15px -4px #0004;
}
header .carousel-label {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    border-radius: 1em 1em 0 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
}

header .random-carousel .carousel_container {
    overflow: hidden;
    cursor: grab;
}
header .random-carousel .carousel_container::before,
header .random-carousel .carousel_container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}
header .random-carousel .carousel_container::before {
    left: 0;
    background-image: linear-gradient(-90deg, transparent, var(--white));
}
header .random-carousel .carousel_container::after {
    right: 0;
    background-image: linear-gradient(90deg, transparent, var(--white));
}

header .random-carousel ul.carousel_track > li.carousel_slide > a {
    text-decoration: none;
    color: var(--black);
}
header .random-carousel ul.carousel_track li.carousel_slide .wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;
    height: 100%;
    cursor: pointer;
}

header .random-carousel ul.carousel_track li.carousel_slide .wrapper > .product-name {
    text-align: center;
    font-size: .8em;
    height: 4em;
    overflow: hidden;
}
header .random-carousel ul.carousel_track li.carousel_slide .wrapper > .product-rating {
    text-align: center;
}

header .random-carousel ul.carousel_track li.carousel_slide .wrapper > .product-image {
    display: grid;
    place-items: center;
    height: 100%;
}
header .random-carousel ul.carousel_track li.carousel_slide .wrapper > .product-image > img {
    width: 70%;
}

header nav ul.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    height: 100%;
    user-select: none;
}
header nav ul.menu li {
    font-size: 1.2em;
    font-weight: 500;
}

header nav ul.menu li a {
    text-decoration: none;
    color: var(--light-blue);
}

header nav ul.menu li.active a {
    color: var(--dark-orange);
}

main {
    position: relative;
}

main .home-products-filter {
    width: 100%;
    height: 80vh;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 0 1em 1em 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-grey);
    overflow: hidden;
    background-color: var(--white);
}
main .home-products-filter > .filter-options {
    width: 100%;
    height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--light-grey);
}
main .home-products-filter > .filter-wrapper {
    height: 100%;
}
main .home-products-filter > .filter-wrapper > .menu-btn {
    display: none;
    width: 20px;
    height: 20px;
    background-color: var(--peach);
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}
main .home-products-filter > .filter-wrapper > ul.filter-menu {
    list-style: none;
    width: 20%;
    height: 100%;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--light-grey);
}
main .home-products-filter > .filter-wrapper > ul.filter-menu > li {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--light-grey);
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    background-image: linear-gradient(var(--white), var(--light-grey));
    cursor: pointer;
}
main .home-products-filter > .filter-wrapper > ul.filter-menu > li.active {
    background-image: linear-gradient(var(--white), var(--white), var(--white), var(--light-grey));
}
main .home-products-filter > .filter-wrapper > ul.filter-menu > li:not(.active):hover {
    background-image: linear-gradient(var(--white), var(--white), var(--light-grey));
}
main .home-products-filter > .filter-wrapper > .products-container {
    display: grid;
    grid-template-columns: repeat(auto, 100px);
}

footer {

}

container {
    display: block;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: unset;
    background-color: unset;
    user-select: none;
}
.btn-primary {
    position: relative;
    border-radius: 1em 1em 0 0;
    padding: .5em 1em;
    cursor: pointer;
    margin: .5em;
    background-color: var(--light-blue);
    color: var(--peach);
    font-weight: 700;
    text-shadow: 1px 1px 1px var(--grey);
}
.btn-primary.btn-big {
    font-size: 1.1em;
}
.btn-primary::before {
    content: attr(data-text);
    position: absolute;
    bottom: -90%;
    left: 0;
    width: 100%;
    border-radius: 1em 1em 0 0;
    padding: .5em 1em;
    background-image: linear-gradient(transparent, var(--light-blue));
    transform: rotate(180deg);
    filter: blur(1px);
    opacity: 0;
    transition: opacity 200ms;
}
.btn-primary:hover {
    
}
.btn-primary:hover::before {
    opacity: .6;
}

.stars {
    color: var(--black);
    text-shadow: 1px 1px 1px var(--black);
}
.yellow {
    color: var(--yellow);
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: .5rem;
    }
}

@media only screen and (max-width: 500px) {
    main .home-products-filter > .filter-wrapper > .menu-btn {
        display: block;
    }
    main .home-products-filter > .filter-wrapper > ul.filter-menu {
        display: none;
        position: absolute;
        width: 50vw;
        height: auto;
        top: 20px;
    }
    main .home-products-filter > .filter-wrapper > ul.filter-menu.open {
        display: block;
    }
}